@use '../../styles/variables.scss' as *;

.splash-screen {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #040404;
  opacity: 1;
  transition: opacity 0.4s ease-out;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }
}
